body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
}

a{
    color:inherit;
    text-decoration:none;
}


.wrap {
    background: bisque;
}

.logo {
    background: aquamarine;
}

.content-wrap {
    background: red;
    display: flex;
}

.side-notebook {
    background: aqua;
    width: 10%;
}

.side-page {
    background: indianred;
    width:10%;
    height:800px;
    overflow: auto;   /* 컨텐츠가 박스를 벗어나면 스크롤바 표시 */
    text-align: center;
}

.selected-item {
    background: blue;
}

.content {
    background: lightseagreen;
    width:80%;
}