<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="wrap">
    <div class="logo"><a href="/">logo</a></div>
    <div class="content-wrap">
        <div class="side-notebook">
            <ul>
                <li th:each="notebook : ${notebookList}" th:class="${notebook.id == targetNotebook.id} ? 'selected-item' : '' ">
                    <a th:href="@{|/notebook/${notebook.id}|}" th:text="${notebook.name}"></a>
                </li>
            </ul>
            <div>
                <form th:action="@{|/notebook/update|}" method="post">
                    <input type="hidden" name="id" th:value="${targetNotebook.id}">
                    <input type="text" name="name" th:value="${targetNotebook.name}">
                    <input type="submit" value="수정">
                </form>
            </div>
            <div>
                <form th:action="@{|/notebook/write|}" method="post">
                    <input type="submit" value="추가">
                </form>
            </div>
            <div>
                <form th:action="@{|/notebook/delete|}" method="post">
                    <input type="hidden" name="id" th:value="${targetNotebook.id}">
                    <input type="submit" value="삭제">
                </form>
            </div>
            <a th:href="@{/member/signup}">회원가입</a>
            <br>
            <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그 아웃</a>
        </div>
        <div class="side-page">
            <!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each="notePage : ${notePageList}" th:class="${notePage.id == targetPost.id} ? 'selected-item' : '' ">
                    <a th:href="@{|/detail/${notePage.id}|}" th:text="${notePage.title}"></a>
                </li>
            </ul>
            <div>
                <form th:action="@{|/write|}" method="post">
                    <input type="hidden" name="notebookId" th:value="${targetNotebook.id}">
                    <input type="submit" value="추가">
                </form>
            </div>
        </div>
        <div class="content">
            <form id="updateForm" method="post">
                <div>
                    <input type="hidden" name="id" th:value="${targetPost.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetPost.title}">
                </div>
                <div>
                    <textarea name="content" cols="30" rows="10" th:text="${targetPost.content}"></textarea>
                </div>
                <div>
                    <input type="button" value="수정" onclick="updateFormAction(this, ACTIONS_UPDATE)">
                </div>
                <div>
                    <input type="button" value="삭제" onclick="updateFormAction(this, ACTIONS_DELETE)">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    ACTIONS_UPDATE = {
        'url' : '/update',
        'msg' : '수정하시겠습니까?'
    };
    ACTIONS_DELETE = {
        'url' : '/delete',
        'msg' : '삭제하시겠습니까?'
    }

    function updateFormAction(input, action) {
        if(confirm(action.msg)) {
            input.form.action = action.url;
            input.form.submit();
        }
    }
</script>
</body>
</html>